h1 {
    color: hsl(120, 89%, 50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 175px;
    font-weight: inherit;
    letter-spacing: -1px;
    line-height: 1;
    text-align: right;
    background-color: darksalmon;
}

p {
    color: #a258cc;
    font-family: cursive;
    font-size: 10px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: right;
    text-justify: inter-cluster;
    background-color: maroon;
}

textarea {
    margin: 40px;
    width: 300px;
    height: 150px;
    color: yellow;
    background-color: deeppink;
}

ul, ol {
    margin: 40px;
    padding: 3;
    color: red;
    font-family: monospace;
    background-color: khaki;
}

li {
    font-family: fantasy;
    border-bottom: 5px solid rgb(45, 231, 21);
}
   
li:last-child {
    border: darkorange;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px rgb(184, 6, 184) solid;
    padding:10px;
    background-color: aquamarine;
}
    
input, textarea {
    padding:5px;
    margin:5px
    
}

h3 {
    font-family: georgia;
    color: purple;
    background-color: lawngreen;
}

body {
    background-color: darkolivegreen;
}